body {
    width: 100%;
    background-color: #000;
    display: grid;
    grid-template-areas: 
            "main-masthead main-masthead"
            "main-sidebar channel";
}
.channel{grid-area: channel;}
.main-masthead{grid-area: main-masthead;}
.main-sidebar{grid-area: main-sidebar;}

/*상단 검색, 사이드바 css*/
#masthead {
    display: flex;
    justify-content: space-between;
    background: #212121;
    width: 100%;
    height: 56px;
    padding: 0 10px;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 999;
}

.head-yt-btn {
    display: inline-flex;
    padding-right: 0px;
    align-items: center;
}

#menu-icon {
    display: flex;
    padding: 8px;
    margin-right: 10px;
}

#menu-icon img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#yt-logo {
    display: flex;
    padding: 18px 14px 18px 16px;
    flex-direction: column;
}

#yt-logo img {
    width: 90px;
    height: 20px;
    cursor: pointer;
}

.head-searchbox {
    display: flex;
    margin: 8px;
    width: 470px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.search-box-area {
    display: flex;
    width: 426px;
    height: 40px;
}

/* 일부 속성 삭제 허유미 8.2 */
.search-bar {
    width: 358px;
    padding: 6px;
    border-radius: 2px 0px 0px 2px;
    border: 1px solid #303030;
    background-color: #121212;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.search-bar::placeholder {
    color: #AAA;
    font-size: 16px;
    font-weight: 400;
}

.search-btn {
    display: flex;
    width: 34px;
    height: 26.5px;
    padding: 6px 13px;
    margin-left: 1px;
    border-radius: 0px 2px 2px 0px;
    background-color: #303030;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-btn img {
    width: 24px;
    height: 24px;
}

.search-mic {
    display: flex;
    margin-left: 10px;
    padding: 8px;
    border-radius: 40px;
    background-color: #000;
    cursor: pointer;
}

.search-mic img {
    width: 24px;
    height: 24px;
}

.head-profile {
    display: flex;
    width: 204px;
    height: 56px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-right: 16px;
    margin-right: 16px;
}

.profile {
    padding: 8px;
    cursor: pointer;
}

.profile img {
    width: 24px;
    height: 24px;
}

.profile-user-avatar {
    padding: 4px 10px;
    cursor: pointer;
}

.profile-user-avatar img {
    width: 32px;
    height: 32px;
    border-radius: 32px;
}

/*사이드바*/
#sidebar-mini {
    display: flex;
    width: 60px;
    height: 100%;
    top: 56px;
    left: 0px;
    padding: 12px 0px;
    background-color: #212121;
    position: fixed;
    z-index: 1;
    flex-direction: column;
}
/* */
#sidebar-mini div {
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#sidebar-mini-home{
    flex-direction: column;
    text-align: center;
}
#sidebar-mini-home svg{
    margin-right: 19px;
}

#sidebar-mini span {
    padding: 15px 0 3px;
    flex-direction: column;
    margin-left: 18px;
}

#sidebar-mini span img {
    height: 24px;
    width: 24px;
    margin-right: 24px;
}

#sidebar-mini div a {
    color: #FFF;
    font-size: 12px;
    margin-left: 13px;
}

#sidebar-mini :nth-child(1) a {
    margin-left: 15px;
}

#sidebar-mini :nth-child(3) a {
    margin-left: 6px;
}

::-webkit-scrollbar {
    display:none;
}

#sidebar-wide {
    display: none;
    width: 240px;
    height: calc(100vh - 80px);
    top: 56px;
    left: 0px;
    bottom: 0px;
    padding: 12px 0px;
    background-color: #212121;
    
    position: fixed;
    width: 240px;
    overflow: hidden;
    z-index: 1;
    overflow-y: scroll;
}
#sidebar-mini.active{
    display: none;
}
#sidebar-wide.active {
    display: block;
}


.top {
    display: flex;
    padding: 12px 0px;
    padding-bottom: 5px;
    flex-direction: column;
    align-items: flex-start;
}

.menu {
    display: flex;
    padding: 8px 8px 8px 24px;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    background: var(--border-color, #303030);
    border-radius: 10px;
    border: none;
    align-items: center;
} 

.menu:hover{
    cursor: pointer;  /* 속성 추가 허유미 8.1 */
    background-color: #3d3d3d;
}


.menu2 {
    display: flex;
    padding: 8px 8px 8px 24px;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    margin: 0;
    border: none;
    border-radius: 10px;
    background-color: #212121;
    align-items: center;
}

.menu2:hover{
    cursor: pointer;  /* 속성 추가 허유미 8.1 */
    background-color: #303030;
}

.menu-item{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}


.menu-title{
    display: flex;
    width: 144px;
    padding: 4px 0px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.menu-title-style{
    color: var(--white-color, #FFF);
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

#frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.side-border{
    border-top: 1px solid #303030;
    width: 224px;
    height: 1px;
}

.sub{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.sub-menu-title{
    display: flex;
    width: 224px;
    height: 32px;
    padding-right: 0px;
    align-items: center;
}

.sub-title{
    display: flex;
    padding: 8px 24px;
    align-items: flex-start;
    gap: 10px;
}

.sub-title-style{
    color: var(--gray-color, #AAA);
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.User-Avatar{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.more-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.nav-footer{
    display: flex;
    width: 224px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer-items{
    display: flex;
    width: 224px;
    padding: 16px 24px 0px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#frame2{
    width: 148px;
    height: 45px;
}

.footer-item{
    display: inline-flex;
    padding-right: 3px;
    align-items: flex-start;
}

.footer-terms{
    color: var(--gray-color, #AAA);
    font-family: serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.url-style{
    text-decoration: none;
    color: #AAA;
}

#frame3{
    width: 189px;
    height: 45px;
}

.sub img{
    border-radius: 50%;
}

/*채널*/
/*비율 조정 8.5신지수*/
.channel{
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    background-color: #000;
    margin: 56px 0 0 60px;
    position: absolute;
    padding-left: 0;
    z-index: 100;
}

a{
    text-decoration: none;
    color:#fff;
}

/* 공통 배경 속성 추가 7.28 허유미 */
.channel-cover,
#channel_information,
.channel-toolbar {
    background-color: #181818;
}

/*비율 조정 8.5신지수*/
.channel-cover{
    width: 100%;
    box-sizing: border-box;
}
/*사이드 메뉴바 열렸을 때*/
.channel.active{
    margin-left: 240px;
    width: 90%;
}

/*비율 조정 8.5신지수*/
.channel-cover img{
    width: 100%;
}

.channel-toolbar{
    background-color: #181818;
    padding-left: 50px;
}
.channel-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color :#fff;
    width: 100%;
}


.channel-profile{
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 0px;
}

.channel-profile img{
    width: 120px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 40px;
}

.subsc-btn{
    padding: 10px 20px;
    background-color: #cc0000;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right:60px;
}
.long-border{
    border-bottom:solid 1px #303030;
}
.chanelname{
    font-weight: bolder;
    font-size : 25px;
    line-height: normal;
}

.subsc-count{
    color:#AAA;
}

.channel-toolbar{
    display: flex;
    flex-direction: row;
}

.toolbars{
    display: flex;
    margin-left: 60px;
    margin-right: 20px;
    background-color: #181818;
}

.toolbar-menu{
    color : #AAA;
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 18px;
    cursor: pointer;
}
/*클릭 시 효과 추가 8.1 신지수*/
.toolbar-menu.active {
    font-weight: bold;
    color:white;
    border-bottom: solid 1px white;
}


.channel-search{
    display: flex;
    margin : 18px; /* 요소 변경 허유미 8.4 */
    align-items: center;
}
.c-search-icon img,
.c-scroll-btn img {
    width: 20px;
    height: 20px;
    cursor: pointer; /* 요소 추가 허유미 8.4 */
}

.c-scroll-btn{ /*위치 조정 신지수 8.6*/
    padding-top: 17px;
}

/* 요소 추가 허유미 8.4 */
.c-search-icon {
    margin-right: 10px;
}

.channel-search input {
    background-color: inherit;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    font-size: 15px;
    padding: 0 0 3px 3px;
}

.channel-search input:focus {
    outline: none;
}

/*비디오*/
.channal_content{
    padding: 0px 80px 0px 80px;
}

/*채널 툴바 목록 효과 추가 8.1 신지수*/
.channel-videos{
    display: none;
  }

/* 채널-동영상 목록에서 버튼, 동영상 스타일 적용 8.2 신지수*/
.sorting-buttons{
    margin:30px 30px 30px 10px;
}

.sorting-buttons button{
    cursor: pointer;
    border-radius: 7px;
    background-color: #212121;
    color:white;
    margin:2px;
    padding:5px 12px 5px 12px;
    font-size: 15px;
    border-style: none;
}

.sorting-button.clicked{
    background-color: white;
    color: black;
} 

#feed {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start; /* 요소 변경 8.6 허유미*/
}

.feed-item {
    flex: 0 0 calc(25% - 20px);
    margin-bottom: 50px;
}

.thumbnail-item {
    border: solid 1px black;
    border-radius: 7px;
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.thumbnail-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

@media (max-width: 1450px) {
    .feed-item {
        flex: 0 0 calc(33.333% - 20px);
    }
}

@media (max-width: 1200px) {
    .feed-item {
        flex: 0 0 calc(50% - 20px);
    }
}

.c-videos{
    margin-top: 12px;
}
.c-videos-info{
    font-size: 14px;
    margin-top: 4px;
    color:#AAA;
}

/*플레이리스트*/
.channel-playlists{
    color:white;
    margin: 30px 0px 30px 10px;
    display: none;
}

.channel-playlists-info{
    margin-bottom: 30px;
}

.feed-list{
    display: flex;
    gap: 20px;
}


#feed-list {
    gap: 20px;
    display: flex;
}

.feed-list-item {
    flex: 0 0 calc(20% - 20px);
    margin-bottom: 50px;
}

.playlist-thumbnail-item{
    border: solid 1px black;
    border-radius: 7px;
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.playlist-thumbnail-item img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.img-cover{
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 30%;
    cursor: pointer;
    align-items: center;
    background: rgba(30, 30, 30, 0.9);
}
.img-cover-info{
    display: flex;
    justify-content: space-between;
    padding : 5px;
}
.img-cover-info img{
    padding: 5px 0 2px 6px;
    width: 20px;
    height: auto;
    
}
.playlist-info{
    margin: 10px;
}

.all-playlist{
    margin : 16px 0 0 10px;
    color:#AAA
}

/*8.3 신지수 커뮤니티, 채널, 어바웃 마무리*/
/*8.6 신지수 커뮤니티, 채널, 어바웃 스타일 추가*/
/*커뮤니티, 채널*/
.channel-community,
.channel-channels{
    color:white;
    margin:50px;
    display: none;
}

.community-box{
    width: 60%;
    border: solid 1px #AAA;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    font-size: 15px;
}
.community-username{
    margin : 15px;
}
.community-usericon img{
    width: 60px;
    height: auto;
    border-radius: 50%;
}
.community-content-in{
    margin : 15px;
    
}
#community-liked{
    margin-top: 10px;
}

#community-img img{
    border-radius: 10px;
    margin-top: 10px;
    width : 100%; /*8.6크기 조정 신지수*/
}
/*어바웃*/
.channel-about{
    display: none;
    margin:50px;
    color: white;
}
.channel-about-grid{
    display: grid;
    grid-template-areas:
            "about-explain about-static"
            "about-link about-static";
}

.about-explain{
    border-bottom: 0.1px #AAA solid;
    padding-bottom: 20px;
    grid-area: about-explain;
}
.about-link{
    grid-area: about-link;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 0.1px #AAA solid;
}
.about-static{
    grid-area: about-static;
    padding-bottom: 10px;
    margin: 30px 0 0 80px;
    width: 60%;
    height: auto;
}
.about-static div{
    border-bottom: 0.1px #AAA solid;
    padding: 15px 0 15px 0;
}
.about-static span svg{
    margin: 15px 0 15px 0;
}
.about-static span img{
    margin: 15px 0 15px 30px;
}


/*홈*/
.channel-home{
    color: white;
}
.small-video{
    color:#fff;
    display: flex;
    position: relative;
    margin-left: 60px;
    margin-right: 80px;
    margin-top: 35px;
    margin-bottom: 35px;
    gap: 30px;
}

.s-video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-desc{
    text-align: left;
    margin-top : 30px;
    overflow: hidden;
}

.video-title{
    font-size: 25px;
}
.video-time{
    color:#AAA;
}

.video-detail{
    font-size: 20px;
}

.long-border{
    border-bottom:solid 1px #303030;
}

.play-list-row{
    color:white;
}
.play-list-info{
    margin-top: 30px;
    display: flex;
    font-size: 21px;
}

.play-list-title{
    padding-right: 30px;
}

.play-list-btn{
    color:#AAA;
    display: flex;
    cursor: pointer;
}

.play-list-btn img{
    padding-right: 10px;
}
.play-list-video{
    display: flex;
    margin-left:106px;
}

.xsmall-video{
    box-sizing: border-box;
    margin-bottom: 35px;
    margin-top: 35px;
    margin-right: 10px;
    flex:1;
    min-width: 200px;
}

.thumbnail-img{
    border:solid 1px white;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.thumbnail-img iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.s-vedio-info-content{
    display: flex;
    flex-direction: column;
    margin-top:8px;
}

/* 텍스트 색 변경 8.4 이준희 */
.s-thumb-title{
    color: var(--white-color, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* 텍스트 색 변경 8.4 이준희 */
.s-chanelname{
    color: var(--gray-color, #AAA);
    
}

/* 텍스트 색 정리 8.4 이준희 */
.s-views{
    color: var(--gray-color, #AAA);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}