/* 바디 배경 변경 8.2 김채홍 */
body {
    background: #181818;
}


.video {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


/* 높이 삭제 8.2 김채홍 */
.primary {
    
    width: 664px;
    padding: 24px 0px 0px 24px;
    justify-content: flex-end;
    align-items: flex-start;
    flex-shrink: 0;
    background: #000;
}

/* 높이 삭제 08.02 김채홍 */
.secondary {
    /* display: flex; */
    width: 426px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    /* background: #123234; */
    background: #000;

}
/* content 하위 태그 css 전체 수정 08.02 김채홍 */
#content {
    display: flex;
    padding: 24px 24px 0px 0px;
    flex-direction: column;
    align-items: flex-start;
    
    /* border: 0.3px solid var(--gray-color, #AAA); */
}

#video {
    display: flex;
    padding-top: 8px;
    align-items: flex-start;

    /* border: 1px solid beige; */
}

#thumnail-images img{
    width: 170px;
    height: 106px;
    align-items: flex-start;   
}

#thumnail {
    display: flex;
    padding-right: 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#thumnail-images {
    width: 168px;
    height: 94px;
}

#video-text {
    display: flex;
    width: 226px;
    padding: 7px 0px;
    flex-direction: column;
    align-items: flex-start;
    
    /* border: 1px solid red; */
}

ul {
    list-style-type: none;
    padding-left: 0%;
    /* border: 1px solid greenyellow; */

}

#channel-desc {
    display: flex;
    padding: 2px 0px;
    flex-direction: column;
    align-items: flex-start;
    /* border: solid 1px yellow; */
}

#video-name {
    color: var(--white-color, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

#chnnel-name {
    color: var(--gray-color, #AAA);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 150% */
}

#channel-views {
    color: var(--gray-color, #AAA);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 150% */
}


/* 7.28 김채홍 */
#video-player {
    display: flex;
    width: 640px;
    height: 455px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    /* 구분삭제 김채홍 08.04 */
    /* border: 1px solid yellow; */

}

#video-info{
    display: flex;
    width: 640px;
    padding: 20px 0px 8px 0px;
    flex-direction: column;
    align-items: flex-start;
}

#title{
    display: flex;
    padding: 3px 0px 2px 0px;
    align-items: flex-start;
    gap: 10px;

    color: var(--white-color, #FFF);
    font-variant-numeric: stacked-fractions;
    font-feature-settings: 'hlig' on, 'dlig' on;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;

 
}

#info{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 91px;

  
}

/* 뷰, 영상 올린날짜 7. 31 김채홍  */
#info-text{
    display: flex;
    padding: 12px 0px;
    align-items: flex-start;
    gap: 10px;
    color: #AAA;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
    width: 190px;

    /* border: solid 1px ; */
}

/* 좋아요, 싫어요 공유, 저장. 더보기 7. 31 김채홍  */
#top-level{
    display: flex;
    align-items: flex-start;
    gap: 10px;

    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase; 

    display: flex;
    padding: 10px 6px 10px 0px;

    /* border: solid 1px ;    */
}

#more, #share, #save, #disliked, #liked{
    display: flex;
    align-items: flex-start;
    gap: 10px;

    width: 24px;
    height: 24px;

    padding: 0px 2px;
    justify-content: center;
    align-items: center;

    /* border: solid 1px red;    */

}


#border{
    width: 640px;
    height: 1px;   
    border-color:#303030

    
}

#video-desc{
    display: flex;
    width: 640px;
    height: 166px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;

}

#desc{
    display: flex;
    width: 640px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#channel-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    /* border: solid 1px white; */

}

/* 채널 아이콘, 채널 이름, 구독자 수, 구독 버튼 7.31 김채홍 */
#frame11{
    width: 640px;
    height: 50px;  
    display: flex;
    /* border: solid 1px white; */
    
}
/* 영상 설명 7.31 김채홍*/
#video-desc-text{
    display: flex;
    padding: 12px 0px 0px 64px;
    align-items: flex-start;
    gap: 10px;
    
    color: var(--white-color, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    /* border: solid 1px white; */

}
/* 채널 사진 7.31 김채홍*/
#channel-profile-pic{
    display: inline-flex;
    padding: 0px 16px 3px 0px;
    align-items: flex-start;
    gap: 10px;

    /* border: solid 1px white; */
}
/* 채널 사진 테두리 7.31 김채홍 */
#user-avatar{
    display: flex;

    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 80px;
    
    /* border: solid 1px white; */
     
}
#channel-profile-name{
    display: inline-flex;
    padding: 11px 0px 10px 0px;
    flex-direction: column;
    align-items: flex-start;
}
#channel-name{
    color: var(--white-color, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#subscribers{
    color: var(--gray-color, #AAA);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#channel-subscribes-btn{
    display: flex;
    width: 124px;
    padding: 7px 4px 8px 4px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
#sub-btn{
    display: flex;
    padding: 10px 16px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 2px;
    background: #C00;

    color: var(--white-color, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

#desc-show-more{
    display: flex;
    padding: 8px 0px 0px 64px;
    align-items: flex-start;
    gap: 10px;

    color: var(--gray-color, #AAA);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;   
    
}

#top-menu {
    display: flex;
    padding: 24px 24px 0px 0px;
    flex-direction: column;
    align-items: flex-start;   
}
/* 세컨더리 카테고리 선택 부분 추가 7.31 김채홍 */
.top-border {
    width: 1200px;
    height: 1px;
}

.bottom-border {
    width: 1200px;
    height: 1px;
}

.item {
    display: inline-flex;
    
    padding: 8px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    border-radius: 32px;
    border: 0.3px solid #AAA;
    background: #303030;

    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item:hover {
    background-color: white;
    color: #303030;
    cursor: pointer;  
}

/* 세컨더리 컨텐츠 css 미완 7.31 김채홍 */
/* 세컨더리 컨텐츠 css 완  8.02 김채홍 */
.feed{
    flex-direction: column;
}


.feed__item__thumbnail{
    display: flex;
    padding-right: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; 

}

.feed__item__info__title{
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */

    display: flex;
    padding: 24px 24px 0px 0px;
    flex-direction: column;
    align-items: flex-start;   

}

.feed__item__info{
    color: var(--white-color, #FFF);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */ 
    
}

a{
    text-decoration-line: none; 
    color: #FFF;  
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */ 
}

.feed__item{
    display: flex;
    padding-top: 8px;
    align-items: flex-start;   
    
}

/* 비디오플레이 css추가 08.04*/
.video__container{
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    height: 100%;  
}